/home/kike/airbnb_listings_data_engineering_project/.env*
/home/kike/airbnb_listings_data_engineering_project/sales_practice.py*
/home/kike/airbnb_listings_data_engineering_project/googleTranslateKey.json*